@media (max-width: 1024px) {
  #section {
    height: 170vh;
    background: #eeeeee;
    padding: 7%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "card"
      "divH1 ";
  }

  #card {
    width: 90%;
    height: 50%;
    grid-area: card;
    justify-self: center;
    align-self: center;
  }

  #divH1 {
    grid-area: divH1;
    justify-self: center;
    align-self: start;
  }

  #h1 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  #section {
    height: 100vh;
  }
  #card {
    width: 90vw;
    height: 45%;
  }
  #divH1 {
    align-self: start;
    text-align: center;
  }
  #h1 {
    font-size: 3rem;
  }
}

@media (max-width: 425px) {
  #card {
    width: 100%;
    height: 50%;
  }
  #section {
    height: 100vh;
    gap: 10%;
  }
  #h1 {
    font-size: 2.5rem;
  }
  #card {
    align-self: end;
  }

  #divH1 {
    align-self: start;
    text-align: center;
  }
}

@media (max-width: 360px) {
  #section {
    height: 110vh;
    gap: 10%;
  }

  #card {
    width: 90vw;
    height: 23vh;
  }
}
