@media (max-width: 1024px) {
  #contactSection {
    height: 130vh;
  }
}

@media (max-width: 768px) {
  #contactSection {
    padding: 5% 3% 5% 3%;
    height: 120vh;
  }
}

@media (max-width: 360px) {
    #contactSection {
        height: 130vh;
      }
  }